<div class="container3">
   <br><br>
                
    <div class="row">
      <div class="col-sm">
       <a href=""> <img src="assets\image\samsunglogo.jpg" class="img-thumbnail" alt="image" width="250" height="250"style="height:150px"></a>
      </div>
      <div class="col-sm">
        <a href=""><img src="assets\image\poco.jpg" class="img-thumbnail" alt="image" width="250" height="250" style="height:150px"></a>
      </div>
      <div class="col-sm">
        <a href=""><img src="assets\image\iphone.jpg" alt="image" class="img-thumbnail" width="250" height="250"style="height:150px"></a>
      </div>
      <div class="col-sm">
        <a href=""><img src="assets\image\realme.jpg" alt="image" class="img-thumbnail" width="250" height="250"style="height:150px"></a>
      </div>
      <div class="col-sm">
        <a href=""><img src="assets\image\vivol.jpg" alt="image" class="img-thumbnail" width="250" height="250"style="height:150px"></a>
      </div>
      <div class="col-sm">
        <a href=""><img src="assets\image\infinix.jpg" alt="image" class="img-thumbnail" width="250" height="250"style="height:150px"></a>
      </div>
      <div class="col-sm">
        <a href=""><img src="assets\image\onep.jpg" alt="image" class="img-thumbnail" width="250" height="250"style="height:150px"></a>
      </div>
     
    </div>
    <p  style="color:white;">&copy;2023, All Rights Reserved</p>
  </div>
   
