<nav class="navbar navbar-default" style="background-color: #424b40;">

 

    <ul class="nav">

 

        <li class="nav-item">

 

          <a class="nav-link " href="#" style="color:white ;font-size: large;">Home</a>

 

        </li>

 

        <li class="nav-item dropdown">

 

          <li ngbDropdown class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLocation" role="button" class="btn btn-dark"  data-toggle="dropdown"

              aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>

              Mobiles

            </a>

            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownLocation">

             <a ngbDropdownItem class="dropdown-item" href="#">Budget</a>



              <a ngbDropdownItem class="dropdown-item" href="#">Mid-Range</a>

             <a ngbDropdownItem class="dropdown-item" href="#">Flagship</a>



            </div>



          
            

 

          </li>
          <!-- <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
                Toggle dropdown
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Budget</button>
                <button ngbDropdownItem>Mid Range</button>
                <button ngbDropdownItem>Flagship</button>
            </div>
            </div> -->

     

 

   

 

        <li class="nav-item">

 

          <a class="nav-link" href="signin.html" style="color:white ;font-size: large;">Sign In</a>

 

        </li>

 

        <li class="nav-item">

 

          <a class="nav-link " href="signin.html" style="color:white ;font-size: large;">Contact Us</a>

 

        </li>

        <li>

          <form id="form" role="search">

            <input type="search" id="query" name="q"

             placeholder="Search..."

             aria-label="Search through site content">

             <button id="button">Search</button>

          </form>

        </li>

 

       

 

      </ul>

 

    </nav>